
<div class="filters">
    <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select
        panelClass="sort-select"
        [(ngModel)]="sort"
        >
          <mat-option value="name">Name</mat-option>
          <mat-option value="released">Released</mat-option>
          <mat-option value="added">Added</mat-option>
          <mat-option value="created">Created</mat-option>
          <mat-option value="updated">Updated</mat-option>
          <mat-option value="rating">Rating</mat-option>
          <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
      </mat-form-field>
</div>


<div class="games">
    <div class="game">
        <div class="game-thumb-container">
           <img src="https://www.google.com/search?q=game+images+hd&rlz=1C1JJTC_enIN1008IN1008&sxsrf=ALiCzsbBCGMOjHAeaiz9PLzcfyjm18GQzw:1654587722364&tbm=isch&source=iu&ictx=1&vet=1&fir=WRCjqQOYCLXwlM%252Cqzf1Q6TyJ0fcwM%252C_%253BUqAHt39cJ4MMyM%252CwQrZeRVGDXEBRM%252C_%253B3hUq6HzR3S5UAM%252CcnnLlUsdhzd0xM%252C_%253BMrncX2XWP5a1pM%252CPWz07Jbn-TmnXM%252C_%253BzvJ5ZYNGC_o-KM%252C17kEITFkX1-8oM%252C_%253BN_L2hB9cSKWXjM%252CGDKhaxuFDp-tQM%252C_%253BA5YbsCiyiZe4AM%252CGbXfkKEXhYfjtM%252C_%253BUEWWqOEYfadbUM%252CZDjg4s7-PoV1oM%252C_%253BUeUVafB1BuyzFM%252CcnnLlUsdhzd0xM%252C_%253BaZlDc3i6_JCvwM%252Ci7Or4AyQwYXsRM%252C_%253BPTtcw7IpynsYqM%252CPDm1r8_sTQcKfM%252C_%253BydGJrpOdKBn6-M%252Cqzf1Q6TyJ0fcwM%252C_&usg=AI4_-kS7ki08-0lzzG404ym5_4cc6YcvDA&sa=X&ved=2ahUKEwizrsPL65r4AhUM7HMBHa3bBzAQ9QF6BAgDEAE#imgrc=WRCjqQOYCLXwlM" alt="image" class="game-thumbnail">
       
       
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.hdqwalls.com%2Fwallpapers%2Fthumb%2Fpubg-spark-the-flame-4k-gj.jpg&imgrefurl=https%3A%2F%2Fhdqwalls.com%2Fcategory%2Fgames-wallpapers%2F1920x1080&tbnid=WFe-UTDJbSm65M&vet=12ahUKEwiJ8LKr7Jr4AhU2jNgFHZx0C8oQMygTegUIARDZAQ..i&docid=pvXCtqzMwwoKhM&w=300&h=200&q=game%20images%20hd&ved=2ahUKEwiJ8LKr7Jr4AhU2jNgFHZx0C8oQMygTegUIARDZAQ" alt="image" class="game-platform">
            
            </div>
        </div>
    </div>
</div>